@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<script>
    document.body.classList.add('login-body-style');
</script>

<div class="netflix-card">
    <h2>Registrarse</h2>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-group">
            <input asp-for="Input.Email" class="netflix-input" autocomplete="username" aria-required="true" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Input.Password" class="netflix-input" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Input.ConfirmPassword" class="netflix-input" autocomplete="new-password" aria-required="true" placeholder="Confirmar Contraseña" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button id="registerSubmit" type="submit" class="btn-netflix">Crear Cuenta</button>

        <div class="netflix-links">
            <p>
                ¿Ya tienes cuenta? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Inicia sesión aquí</a>.
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}