@{
    ViewData["Title"] = "Video Club";
}

<div class="text-center">
    <h1 class="display-4">Gestión de VideoClub</h1>
    <p>Proximamente, mientras tanto puede entretenerse viedo el siguiete video: <a href="https://youtu.be/_6wKpgES7yQ?si=a6I8MBYW4ty0gEiu">https://youtu.be/_6wKpgES7yQ?si=a6I8MBYW4ty0gEiu</a> Un corto de silksong.</p>
</div>
